.categoryHeader {
    text-align: start;
    border-bottom: cornflowerblue 1px solid;
    width: fit-content;
}

.categoryHeaderDark {
    color: #fff;
}

.categoryHeaderLight {
    color: steelblue;
}

.categoryContainer {
    padding: 2rem;
}