.categoryHeader {
    text-align: start;
    border-bottom: #5e35b1 1px solid;
    width: fit-content;
}

.categoryHeaderDark {
    color: #fff;
}

.categoryHeaderLight {
    color: rgba(94, 53, 177, .9);
}

.categoryContainer {
    padding: 2rem;
}