.container {
  position: relative;
}

.toggleButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.colors {
  position: absolute;
  top: 100%;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  animation: fadeIn 0.2s;
  width: max-content;
  z-index: 10;
}

.color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform 0.2s;
}

.color:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}