.mainHeader {
    background-color: #5e35b1;
    font-weight: 900;
}

.themeSwitcherWrapper {
    text-align: start;
    width: fit-content;
    margin-left: 2rem;
}

.themeSwitcher {
    margin-left: 1rem;
}

.mainHeaderLight {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .mainHeader {
        font-size: 1.5rem;
    }
}